body {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 14px;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

section {
  clear: both;
}

article {
  overflow: hidden;
  background-color: rgba(255,255,255,0.7);
  padding: 10px;
  margin: 10px;
  width: calc(33% - 40px);
  float:left;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
}

div.epoch {
  width: 100%;
  height: 300px;
}

div.header {
  color: #ffffff;
  background-image: url('images/banner-dark.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  width: calc(100% - 40px); /* account for padding */
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: -99;
}

.footer-logo-container {
  position: relative;
}

.footer-logo {
  height: 50px;
  padding: 20px;
  float: right;
}

@media (max-width: 640px) {
  article {
    width: calc(100% - 40px);
  }
}